<!DOCTYPE html>
<html lang="en" dir="ltr" ng-app = "ShoppingListEventApp">
  <head>
    <meta charset="utf-8">
    <title> Event Data </title>
  </head>
  <body>

    <h1> Event Data </h1>

    <div ng-controller = "ShoppingListController as list1">

      <!-- <h3> Shopping List 1 </h3> -->

      <input type="text"  ng-model="list1.ItemName" placeholder="Name">
      <input type="text"  ng-model="list1.ItemQuantity" placeholder="Quantity">
      <button type="button" ng-click = "list1.addItem();">Add a new Item</button>

      <shopping-list-component
              list-component = "list1"
              title-component = "{{ list1.titleController }}"
              on-remove = "list1.RemoveItem(index_KEY)"
      ></shopping-list-component>

      <!-- <ol>
        <li ng-repeat = "item in list1.getItems">
          {{ item.quantity }} of {{ item.name }}
          <button type="button" ng-click = "list1.RemoveItem($index);">Remove Item</button>
        </li>
      </ol> -->
    </div>

    <spinner-Component></spinner-Component>




    <script src = "Lib/jQuery-3.1.0.min.js"></script>
    <script src = "Lib/angular.min.js"></script>
    <link rel="stylesheet" href="CSS/Style.css">

    <script src = "SRC/Spinner1/Spinner.module.js"></script>
    <script src = "SRC/Spinner1/Spinner.component.js"></script>

    <script src = "SRC/ShoppingList1/ShoppingList1.module.js"></script>
    <script src = "SRC/ShoppingList1/ShoppingList1.component.js"></script>
    <script src = "SRC/ShoppingList1/ShoppingList1.factory.js"></script>
    <script src = "SRC/ShoppingList1/ShoppingList1.controller.js"></script>
    <script src = "SRC/ShoppingList1/WeightLossFilterService.service.js"></script>



  </body>
</html>
